@using Microsoft.AspNetCore.Mvc.Filters;
@using ProjetoClinica.App.Extensions;

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a href="@Url.Action("Logout", "Contas")" class="btn btn-outline-light" title="Logout do sistema"><i class="bi bi-box-arrow-left"></i> </a>
    </li>
</ul>
